@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0; /* Override default user agent margin */
  padding: 0; /* Ensure no padding */
  min-width: none;
}
